*.DS_Store
data/*
node_modules/*
package-lock.json
stats/*
*/out/*
access_token.txt
web_uploads/*
*.env
*.env-*
*rds_config.py

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

/vendor/
